// 1. Variables in SCSS
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

// 2. Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

// 3. Map

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$main-navigation: main-navigation; // Element Selector
body {
  background-color: $accent-color;
  .reality-check {
    font-weight: map-get($font-weights, bold);
    color: $primary-color;
  }
}

// Important to understand the element selector #{element}
header .#{$main-navigation} {
  color: #fff;
}

// Nesting and Short_cuts with BEM Terminology

.main {
  min-height: 200px;
  width: 400px;
  padding: 1rem;
  border: 1px solid rgb(14, 2, 2);
  color: #fff;
  .main__paragraph1 {
    background-color: teal;
    padding: 0.5rem;
  }
  &__paragraph2 {
    background: blue;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  // Element Selector being used
  #{&}__paragraph3 {
    background-color: wheat;
    color: #000;
  }
}
